{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} 
{% block contenido %}<br /><br />

<div class="content">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">BIENVENIDO</h1>
          <p class="lead">Sistema Digital De Cafe</p>
          <hr class="my-4" />
          <p class="card-text">
            Un sistema digital de compra de café es una plataforma en línea que
            facilita la adquisición de café mediante procesos electrónicos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

